!!!
%html
  %head
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' } 
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myhome
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.py-2.shadow-sm.z-top
      %nav.navbar
        .container
          = link_to "MyHomeMoney",root_path,{class:"navbar-brand"}
    = yield
