.d-flex.justify-content-around.text-center
    = link_to households_path,{class:"border-btm-primary menu-item py-3"} do
        家計簿
    = link_to payoffs_path,{class:"border-btm-lightgray menu-item py-3"} do
        精算
.bg-light
    .container
        .row.d-flex
            .card.py-4.bg-light.col-2.align-self-center.text-center
                = link_to households_path(target_date:@target_month.prev_month().strftime("%Y%m%d")) do
                    %i.fas.fa-arrow-left
            .card.py-4.bg-light.col-8
                .card-body.text-center
                    %h2.text-primary #{@target_month.strftime('%m')}月の支出
                    %h3 #{sum(@households)}円
            .card.py-4.bg-light.col-2.align-self-center.text-center
                = link_to households_path(target_date:@target_month.next_month().strftime("%Y%m%d"))  do
                    %i.fas.fa-arrow-right
.bg-white
    .container.py-4
        %h5.text-center 支出の登録
        - if flash[:alert]
            .alert.alert-danger
                #{flash[:alert]}
        = form_for @household do |f|
            .form-group
                .text-sm 日付 (必須)
                = f.date_field :event_date, {class:"form-control form-custom",value: "#{Time.now.strftime('%Y-%m-%d')}"}
            .form-group
                .text-sm 金額 (必須)
                = f.number_field :amount, {class:"form-control form-custom"}
            .form-group
                .text-sm 内容 (必須)
                = f.text_field :item_name, {class:"form-control form-custom"}                
            .form-group
                .text-sm メモ
                = f.text_area :memo, {class:"form-control form-custom"}
            .form-group
                = f.submit "登録する", {class:"btn btn-primary btn-block"}
.bg-light
    .container.py-4
        %h5.text-center 支出の履歴
        .card.bg-light
            %ul.list-group.list-group-flush.bg-light
                - @households.each do |household|
                    = link_to household_path(household) do
                        %li.list-group-item.bg-light
                            .payoff-header.d-flex
                                .payoff-icon
                                    %i.fas.fa-coins.rounded-circle.bg-primary.text-white.p-3
                                .payoff-time-and-content.ml-4.wide-max
                                    .payoff-time.text-muted.text-sm
                                        #{household.event_date.strftime('%m/%d')}  #{household.account.display_name}
                                    .payoff-content.d-flex
                                        .item_name
                                            #{household.item_name}
                                        .price.ml-2
                                            #{household.amount} 円
                                    .payoff-body
                                        #{household.memo}